.casesSection {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.titleContainer {
  width: 355px;
}

.controlContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.controlCounter {
  color: rgba(23, 61, 51, 0.25);
  font-size: 28px;
  font-weight: 300;
}

.controlCounter span:nth-child(1) {
  color: #173d33;
}

.controlButtonsBlock {
  display: flex;
  justify-content: space-between;
  width: 144px;
}

.controlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border-radius: 100px;
  border: 1px solid #173d33;
  cursor: pointer;
}

.controlButton:hover {
  background-color: #97d28b;
}

.content {
  padding-top: 19px;
}

@media screen and (min-width: 768px) {
  .casesSection {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .casesSectionHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .titleContainer::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    border: solid 1px #97d28b;
  }
  .controlContainer {
    width: 343px;
  }
  .content {
    padding-top: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .casesSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .controlContainer {
    width: 459px;
  }
  .controlButtonsBlock {
    width: 192px;
  }
  .controlButton {
    width: 84px;
    height: 84px;
  }
  .content {
    padding-top: 120px;
  }
}
