.formSection {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #eaedf1;
  padding: 36px 12px 36px 12px;
}

.labelStyle {
  color: #173d33;
  margin-bottom: 8px;
}
.inputStyle {
  background-color: #eaedf1;
  height: 31px;
  border: none;
  border-bottom: 1px solid #97d28b;
  margin-bottom: 28px;
}
.inputStyle::placeholder {
  font-size: 18px;
  color: #828382;
}

.textAreaStyle {
  background-color: #eaedf1;
  height: 124px;
  resize: none;
  border: none;
  border-bottom: 1px solid #97d28b;
  margin-bottom: 16px;
}
.textAreaStyle::placeholder {
  font-size: 18px;
  color: #828382;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.buttonStyle {
  display: flex;
  height: 39px;
  width: 100px;
  padding: 4px 4px 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 500px;
  border: 1px solid #97d28b;
  color: #173d33;
}

.arrowCircle {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #97d28b;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 698px) {
  .formSection {
    width: 342px;
    padding: 36px 24px 36px 24px;
  }
}

@media screen and (min-width: 1280px) {
  .formSection {
    width: 596px;
    padding: 48px 48px 48px 48px;
  }
  .inputStyle {
    height: 33px;
  }
}
